.page {
  width: 100%;
  height: 100vh;
}

.forecast {
  display: grid;
  grid-template-columns: 15rem auto;
}

.forecast .panel {
  background-color: #777;
}

.forecast .carousel-container {
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  
}